body {
    background: #e8e8e8;
    background-image: url('../assets/circles-light.png');
    font-family: 'serif';
}

#navbar {
    padding: 15px;
    background: #0090ff;
    color: white;
}

#navbar > a {
    color: white;
}

#content {
    padding: 15px;
}

/* https://css-tricks.com/dont-overthink-flexbox-grids/ */

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}
